<ul class='list-inline'>
  <li>
    <a href='#' class='btn btn-link' data-toggle='tooltip' data-placement='bottom' title='New' {{action 'newScript'}}>
      <i class='fa fa-file-o'></i>
    </a>
  </li>
  <li>
    <a href='#' class='btn btn-link' data-toggle='tooltip' data-placement='bottom' title='Open' {{action 'openScript'}}>
      <i class='fa fa-folder-open'></i>
    </a>
  </li>
  <li>
    <a href='#' class='btn btn-link' data-toggle='tooltip' data-placement='bottom' title='Save' {{action 'saveScript'}}>
      <i class='fa fa-save'></i>
    </a>
  </li>
  <li>
    {{#if autoSaveEnabled}}
      <a href='#' class='btn btn-link' data-toggle='tooltip' data-placement='bottom' title='AutoSave: On' {{action 'toggleAutoSave'}}>
      Auto-Save <i {{bind-attr class=':fa autoSaveEnabled:fa-check:fa-close'}}></i>
    </a>
    {{else}}
      <a href='#' class='btn btn-link' data-toggle='tooltip' data-placement='bottom' title='AutoSave: Off' {{action 'toggleAutoSave'}}>
      Auto-Save <i {{bind-attr class=':fa autoSaveEnabled:fa-check:fa-close'}}></i>
    </a>
    {{/if}}
  </li>
  <li>
    <span class='font-size'>Font-Size:</span>
    <select class='selectpicker' data-style='btn-inverse' data-width='auto'>
      <option value='24'>24px</option>
      <option value='24' selected>24px</option>
    </select>
  </li>
  <li>
    <a href='#' class='btn btn-link'>
      Page Width: 80%
    </a>
  </li>
  <li>
    <a href='#' class='btn btn-link'>
      Export as...
    </a>
  </li>
  <li>
    <a href='#' class='btn btn-link'>
      Share
    </a>
  </li>
  <li>
    <a href='' class='btn btn-link' data-toggle='tooltip' data-placement='bottom' title='Help' {{action 'toggleHelpPanel'}}>
      <i class='fa fa-question-circle'></i>
    </a>
  </li>
  <li>
    <a href='#' class='btn btn-link' data-toggle='tooltip' data-placement='bottom' title='About'>
      <i class='fa fa-info-circle'></i>
    </a>
  </li>
  <li>
    <a href='#' class='btn btn-link' data-toggle='tooltip' data-placement='bottom' title='Logout' {{action 'logout'}}>
      <i class='fa fa-sign-out'></i>
    </a>
  </li>
  <li {{bind-attr class='saved:text-success error:text-danger'}}>
    {{saved}}{{error}}
  </li>
</ul>

{{init-tooltips}}
