<ul class='nav nav-tabs'>
  <li {{bind-attr class='editMode:active'}}>
    <a href='' {{action 'toggleEditMode'}}>Edit</a>
  </li>
  <li {{bind-attr class='editMode::active'}}>
    <a href='' {{action 'toggleEditMode'}}>Preview</a>
  </li>
</ul>

<div {{bind-attr class=':tab-content :editor editMode:show:hidden'}}>
  {{textarea id='scriptInput' value=script.body}}
</div>
<div {{bind-attr class=':tab-content :preview editMode:hidden:show'}}>
  {{fountain-to-html script.body}}
</div>
