<ul class='nav nav-tabs'>
  <li {{bind-attr class='editMode:active'}}>
    <a href='' {{action 'toggleEditMode'}}>Edit</a>
  </li>
  <li {{bind-attr class='editMode::active'}}>
    <a href='' {{action 'toggleEditMode'}}>Preview</a>
  </li>
</ul>

{{#if editMode}}
  <div class='tab-content editor'>
    <h1>test is good</h1>
    <h2>hola</h2>
    <h4>what's up</h4>
  </div>
{{else}}
  <div class='tab-content'>
    <h1>preview!</h1>
  </div>
{{/if}}

