<div class='share-menu'>

    <span class='message'>

      {{#if script.isUnlisted}}
        No one can read your script if Read Access is not enabled. Enable it below.
      {{else}}
        Send this URL anybody you'd like to share this script with.
      {{/if}}

    </span>
    <input type='text' {{bind-attr value=shareUrl}} readonly>
    <div class='social-buttons'>
      {{#twitter-share tagName='a' url=shareUrl text='Check out this dog-gone screenplay I wrote with http://screenwritr.io'}}<div class='twitter'><i class='fa fa-twitter'></i></div>{{/twitter-share}}

      <meta property="fb:app_id" content="996369437044844" />
      {{#facebook-share appId='996369437044844' tagName='a' url=shareUrl}}<div class='facebook'><i class='fa fa-facebook'></i></div>{{/facebook-share}}

      {{#email-share subject='Check out my Screenplay' url=shareUrl body='Hey friend, I wrote a new screenplay using http://screenwritr.io - Check it out!'}}<div class='tumblr'><i class='fa fa-envelope'></i></div>{{/email-share}}
    </div>
    <span class='close-button'>

      {{#if script.isUnlisted}}

        <a href='' {{action 'toggleScriptUnlisted'}}>
          <i class='fa fa-check'></i>
          Click to Enable Read Access for your Script
        </a>

      {{else}}

        <a href='' {{action 'toggleScriptUnlisted'}}>
          <i class='fa fa-close'></i>
          Click to Disable Read Access for your Script
        </a>

      {{/if}}

    </span>

</div>
