<div class='row'>
  <div class='col-xs-12'>
    <div class='text-center'>
      sign up / log in
    </div>

    <div class='login'>
      <form>
        <div {{bind-attr class=':form-group loginError:has-error'}}>
          {{input type='text' id='email' class='form-control' placeholder='e-mail'}}
        </div>
        <div {{bind-attr class=':form-group loginError:has-error'}}>
          {{input type='password' id='password' class='form-control' placeholder='password'}}
        </div>

        <div class='button-div text-right'>
          <button class='btn btn-default input-sm' type='submit' {{action 'login'}}>enter</button>
        </div>

        {{#if loginError}}
        <div class='error-field'>
          {{loginError}}
        </div>
        {{/if}}

      </form>
    </div>

  </div>
</div>

