{{#if session.isAuthenticated}}

  {{help-panel hideHelpPanel=hideHelpPanel toggleHelpPanel='toggleHelpPanel'}}

  {{save-file 
      toggleSavePrompt='toggleSavePrompt'
      transition='transition'
      saveScriptThenTransition='saveScriptThenTransition'
      transitionRoute=afterSaveTransitionToRoute
      currentRouteName=currentRouteName
      resetScript='resetScript'
  }}

  {{about-screenwritr
      hideAboutDialog=hideAboutDialog
      toggleAboutDialog='toggleAboutDialog'
  }}

{{/if}}

<div {{bind-attr class=':header session.isAuthenticated:app-bar'}}>

  {{#if session.isAuthenticated}}

    <div class='row'>
      <div class='col-xs-12'>
        <div class='headline'>{{#link-to 'index'}}screenwritr{{/link-to}}</div>
        <div class='subtitle'data-toggle='tooltip' data-placement='bottom' title='Work-in-Progress ... Features added everyday'>ALPHA</div>
        {{script-title 
            script=script
            updateScriptTitle='updateScriptTitle'
        }}

      </div>
      <div class='col-xs-12'>
        {{menu-bar 
            transition='transition' 
            toggleSavePromptThenTransition='toggleSavePromptThenTransition' 
            saveScript='saveScript'
            script=script 
            autoSaveEnabled=autoSaveEnabled
            toggleAutoSave='toggleAutoSave'
            toggleScriptUnlisted='toggleScriptUnlisted'
            toggleAboutDialog='toggleAboutDialog'
            logout='logout' 
            help='toggleHelpPanel' 
            saved=saved 
            error=error
        }}
      </div>
    </div>


  {{else}}

    <div class='headline'>{{#link-to 'index'}}screenwritr{{/link-to}}</div>
    <div class='subtitle'data-toggle='tooltip' data-placement='bottom' title='Work-in-Progress ... Features added everyday'>ALPHA</div>

  {{/if}}

</div>

{{outlet}}

{{init-tooltips}}
