<div class='friends-search text-center'>
  {{input type='text' value=searchTerm placeholder='Enter e-mail...'}}
</div>

<hr>

{{#if validEmail}}

  {{#if searchResults}}
    {{#each result in searchResults}}
      {{result.fullName}}
    {{/each}}
  {{else}}
    No users found with '{{searchTerm}}'.
  {{/if}}

{{else}}

{{/if}}
