<div class='friends-search text-center'>

  {{input type='text' value=searchTerm placeholder='Enter e-mail...'}}

</div>

<hr>

<div class='friends-results'>
  {{#if validEmail}}
  
    {{#if searchResults}}
  
      {{#each result in searchResults}}
        {{friend-result user=model friend=result friendRequest='sendFriendRequest'}}
      {{/each}}
  
    {{else}}
  
      <div class='no-results'>
        No users found with '{{searchTerm}}'.
      </div>
  
    {{/if}}
  
  {{else}}
  
    {{#if pendingFriends}}
    
      {{#each friend in pendingFriends}}
        {{friend-result friend=friend isPending='true' accept='acceptFriend' deny='denyFriends'}}
      {{/each}}
  
    {{/if}}
  
    {{#if friends}}
      {{#each friend in friends}}
        {{friend-result friend=friend user=model.user}}
      {{/each}}
    {{/if}}
  
  {{/if}}

  <div class='debug' style='background-color: #eee; font-size: 0.75em;'>
    model: {{model}}<br>
    validEmail: {{validEmail}} <br>
    pendingFriends.length: {{pendingFriends.length}} <br>
    debug, <a href='#' {{action 'debugSave'}}>save model</a> <br>
    debug, <a href='#' {{action 'debugReload'}}>reload model</a>
  </div>
</div>
