<div class='friends-search text-center'>
  {{input type='text' value=searchTerm placeholder='Enter e-mail...'}}
</div>

<hr>

<div class='friends-results'>
{{#if validEmail}}

  {{#if searchResults}}

    {{#each result in searchResults}}
      {{friend-result uid=session.uid friend=result friendRequest='sendFriendRequest'}}
    {{/each}}

  {{else}}

    <div class='no-results'>
      No users found with '{{searchTerm}}'.
    </div>

  {{/if}}

{{else}}

  {{#if pendingFriends}}
  
    {{#each friend in pendingFriends}}
      {{friend-result friend=friend isPending='true'}}
    {{/each}}

  {{/if}}

  <!--show current friends-->

{{/if}}
</div>
