<div class='friends-search text-center'>

  {{input type='text' value=searchTerm placeholder='Enter e-mail...'}}

</div>

<hr>

<div class='friends-results'>
  {{#if validEmail}}
  
    {{#if searchResults}}
  
      {{#each result in searchResults}}
        {{friend-result user=model friend=result friendRequest='sendFriendRequest'}}
      {{/each}}
  
    {{else}}
  
      <div class='no-results'>
        No users found with '{{searchTerm}}'.
      </div>
  
    {{/if}}
  
  {{else}}
  
    {{#if pendingFriends}}
    
      {{#each friend in pendingFriends}}
        {{friend-result friend=friend isPending='true' accept='acceptFriend' deny='denyFriends'}}
      {{/each}}
  
    {{/if}}
  
    {{#if friends}}

      {{#each friend in friends}}
        {{friend-result friend=friend user=model}}
      {{/each}}

    {{/if}}
  
  {{/if}}
</div>
