<div class='friends-search text-center'>
  {{input type='text' value=searchTerm placeholder='Enter e-mail...'}}
</div>

<hr>

<div class='friends-results'>
{{#if validEmail}}

  {{#if searchResults}}

    {{#each result in searchResults}}
      {{friend-result uid=session.uid friend=result friendRequest='sendFriendRequest'}}
    {{/each}}

  {{else}}

    <div class='no-results'>
      No users found with '{{searchTerm}}'.
    </div>

  {{/if}}

{{else}}

  <!--show pending friends-->
  <!--show current friends-->

{{/if}}
    <div class='no-results'>
      debug: {{searchResults}}
      <br>
      debug: {{searchResults.length}}
      <br>
      {{debug}}
    </div>
</div>
