<div class="row">
  <div class="stage col-xs-12 col-sm-12 col-md-9">

    <div id='editor'>{{body}}</div>

    <br>
    <div class="row">
      <div class="col-xs-4 saved-notice text-success">
        {{#if saved}}
        {{saved}}
        {{/if}}
      </div>

      <div class="col-xs-8 text-right">

        {{partial 'toolbar'}}

      </div>
    </div>
  </div>
  <div class="col-xs-12 col-sm-12 col-md-3">

    {{render 'c-p'}}

  </div>
</div>

{{init-quill}}
{{init-quill-toolbar}}
