<div class="row">

  <div class="stage col-xs-12 col-sm-12 col-md-9">
    {{#if session.isAuthenticated}}
    {{view 'editor'}}
    {{else}}
    {{partial 'editor'}}
    {{/if}}
    <br>

    <div class="row">
      <div class="col-xs-6 saved-notice text-success">
        {{#if session.isAuthenticated}}
        <button class='btn btn-default save-button' {{action 'manualSave'}}>Save</button>
        {{#if lastSave}}
        {{lastSave}}
        {{/if}}
        <div class='saved-notice text-danger'>
          {{#if saveError}}
          {{saveError}}
          {{/if}}
        </div>
        {{/if}}
      </div>

      <div class="col-xs-6 text-right">
        {{partial 'toolbar'}}
      </div>
    </div>
  </div>

  <div class="col-xs-12 col-sm-12 col-md-3">
    {{render 'c-p'}}
  </div>

</div>

{{init-quill}}
{{init-quill-toolbar}}
