<div class="row">
  <div class="col-xs-12 col-md-6 col-md-offset-3 text-right">

    {{partial 'toolbar'}}

  </div>
</div>

<div class="row">
  <div class="stage col-xs-12 col-sm-12 col-md-9">

    <div id='editor'></div>

  </div>
  <div class="col-xs-12 col-sm-12 col-md-3">

    {{render 'c-p'}}

  </div>
</div>

{{partial 'admin-panel'}}

{{init-quill}}
{{init-quill-toolbar}}
