<div class="row">
  <div class="stage col-xs-12 col-sm-12 col-md-9">

    {{script-editor entry=model.entry isAuthenticated=session.isAuthenticated manualSaveAction='manualSave' autoSaveAction='toggleSaveTimeout' lastSave=lastSave saveError=saveError}}

  </div>
  <div class="col-xs-12 col-sm-12 col-md-3">
    <div class='row'>
      <div class='col-xs-12'>
        <div class='control-panel'>

          {{#if session.isAuthenticated}}

            {{partial 'user-panel'}}

          {{else}}

            {{partial 'guest-panel'}}

          {{/if}}

        </div>
      </div>
    </div>
  </div>
</div>

{{init-quill}}
{{init-quill-toolbar}}

