<div class="row">

  <div class="stage col-xs-12 col-sm-12 col-md-9">
    {{view 'editor'}}
    <br>

    <div class="row">
      <div class="col-xs-6 saved-notice text-success">
        {{#if session.isAuthenticated}}
        <button class='btn btn-default save-button' {{action 'manualSave'}}>Save</button>
        {{#if lastSave}}
        {{lastSave}}
        {{/if}}
        <div class='saved-notice text-danger'>
          {{#if saveError}}
          {{saveError}}
          {{/if}}
        </div>
        {{/if}}
      </div>

      <div class="col-xs-6 text-right">
        {{partial 'toolbar'}}
      </div>
    </div>
  </div>

  <div class="col-xs-12 col-sm-12 col-md-3">
    <div class='row'>
      <div class='col-xs-12'>

        <div class='control-panel'>
          {{#if session.isAuthenticated}}
          {{partial 'user-panel'}}
          {{else}}
          {{partial 'guest-panel'}}
          {{/if}}
        </div>

      </div>
    </div>
  </div>

</div>

{{init-quill}}
{{init-quill-toolbar}}

<pre>
index-debug

model.newEntry.body: {{model.body}}
model.entries.length: {{model.entries.length}}

entry.title: {{entry.title}}
entry.body: {{entry.body}}
</pre>
