<a href="https://github.com/bttf/screenwritr"><img class='github-ribbon' style="position: absolute; top: 0; right: 0; border: 0; width: 125px; height: 125px;" src="https://raw.githubusercontent.com/aral/fork-me-on-github-retina-ribbons/master/images/fork-me-right-grey@2x.png" alt="Fork me on GitHub" ></a>

<div class='hero-banner'>
  <div class='overlay'>
  </div>
  <div class='hero-text'>
    Write Your Heart Out
    <div class='hero-subtitle'>
      Sign up to start writing your next screenplay.
    </div>
  </div>
</div>

<div class='container'>
  <div class='row'>
    <div class='col-xs-12 col-md-6'>
      <div class='lists'>

        <div class='list-title'>
          Write Scripts in your Browser
        </div>
        <ul class='list fa-ul'>
          <li>
            <i class='fa-li fa fa-angle-double-right'></i>
            Automatic Tooling to help you write better scripts
          </li>
          <li>
            <i class='fa-li fa fa-angle-double-right'></i>
            Export your Scripts into any of several formats (PDF,FNX,FTP)
          </li>
        </ul>

        <div class='list-title'>
          Share Documents in a Flash
        </div>
        <ul class='list fa-ul'>
          <li>
            <i class='fa-li fa fa-angle-double-right'></i>
            Share with Friends in a Snap
          </li>
          <li>
            <i class='fa-li fa fa-angle-double-right'></i>
            Share via Twitter, Facebook, Tumblr, etc...
          </li>
        </ul>

        <div class='list-title'>
          Collaborate in Real-Time
        </div>
        <ul class='list fa-ul'>
          <li>
            <i class='fa-li fa fa-angle-double-right'></i>
            Collaborate with others in Real-Time
          </li>
          <li>
            <i class='fa-li fa fa-angle-double-right'></i>
            Security and Privacy controls allow you to control who sees what
          </li>
        </ul>

      </div>
    </div>
    <div class='col-xs-12 col-md-6'>

      <div class='login-box'>
        <div class='login-headline'>Sign Up or Log In Today</div>
        <form>
          <input type='text' id='email' placeholder='E-mail'>
          <input type='password' id='password' placeholder='Password'>
          <button type='submit' class='btn btn-social btn-reddit' {{action 'simpleLogin'}}>
            <i class='fa fa-sign-in'></i>
            Sign Up / Log In
          </button>
        </form>
        <div class='login-error text-danger'>
          {{loginError}}
        </div>
        <hr>
        <button href='' class='btn btn-social btn-facebook' {{action 'fbLogin'}}>
          <i class='fa fa-facebook'></i>
          Sign in with Facebook
        </button>
        <button href='' class='btn btn-social btn-twitter' {{action 'twLogin'}}>
          <i class='fa fa-twitter'></i>
          Sign in with Twitter
        </button>
      </div>



    </div>
  </div>
</div>
{{outlet}}
