<div class='container'>
  <div class='row'>
    <div class='col-xs-12'>
      <div class='open-dialog'>
        <div class='file-list'>

          {{#each script in controller}}

            <div class='row file-item'>
              <a href='' {{action 'selectScript' script}}>
                <div class='col-xs-10'>
                    {{script.title}}
                </div>
              </a>
              <div class='col-xs-2 text-right delete-script'>
                <a href='' {{action 'deleteScript' script}}>
                  <i class='fa fa-trash-o'></i>
                </a>
              </div>
            </div>


          {{/each}}

        </div>
        <div class='controls'>
          <div class='row'>
            <div class='col-xs-6 script-select'>

              {{#if selectedScript}}

                {{selectedScript.title}}

              {{else}}

                Please select a script

              {{/if}}

            </div>
            <div class='col-xs-6 text-right buttons'>
              <button type='button' class='btn btn-default' {{action 'openScript'}}>Open</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

{{outlet}}
